<h1>Novo Artigo</h1>



<%= form_with model: @artigo do |form| %>
    <div>
        <%= form.label :título %><br>
        <%= form.text_field :título %>
        <% @artigo.errors.full_messages_for(:título).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :conteúdo %><br>
        <%= form.text_area :conteúdo %>
        <% @artigo.errors.full_messages_for(:conteúdo).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
            <div>
                <%= form.submit %>
            </div>
    <% end %>

    <%= button_to "Voltar para Artigos", artigos_path, method: :get %>