<div>
  <% if @articles.empty? %>
    <div>
    <h1>Não existem artigos aqui :( </h1>

  <% else %>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, placeholder: "Search..." %>
    <% end %>
  </div>
  <div id="all-articles">
    <% @articles.each do |article| %>
      <div id="li-article" onclick="window.location.href=('/articles/<%= article.friendly_id %>')">
          <a class="li-article-link" href="/articles/<%= article.friendly_id %>">
            <div class="article-title"><%= article.title %>
            </div>
            <div class="text_preview"><%= truncate(strip_tags(article.content.to_s), length: 350, omission: '...') %>
            </div>
          </a>
          <div class="posted-at">
            🕣 posted by <b><%= article.user.name %></b> <%= time_tag article.created_at, "data-local": "time-ago", class: 'hour' %>
          </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= will_paginate @posts %>
    <% end %>
  </div>
