<div class="footer">
    <div class="icons_footer">
        <%= link_to image_tag("github.png"), "https://github.com/lesoname/blog" %>
        <%= link_to image_tag("twitter.png"), "https://twitter.com/" %>
    </div>

    <div class="links_footer">
        <%= link_to "About us", "/" %>
        <%= link_to "Source Code", "/" %>
        <%= link_to "Books", "/" %>
    </div>

    <div class="donate">
        <%= link_to image_tag("donate.png"), "https://paypal.com/" %>
    </div>

    <div class="txt_footer">
        <p>
            Memorit, an open source blog platform for devs.
        </p>
    </div>
</div>