<!DOCTYPE html>
<html>

  <head>
    <title>Memorit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>

    <header>
      <nav id="header-nav">
        <%= link_to image_tag("logo.png"), root_path, class: 'logo' %>
        <a><%= link_to "Novo artigo", new_article_path, class:'new-article-button', method: :get %></a>
      </nav>
    </header>

    <div id="yield">
      <%= yield %>
    </div>

  </body>

</html>
